@model IEnumerable<MeldingAppX.Models.Notice>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    @foreach (var notice in Model)
    {
        <li>
            @notice.ReporterName, @notice.Comment
        </li>
    }
</ul>